@font-face {
    font-family: NorseBold;
    src: url("res/fonts/Norse-Bold.otf");
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: NorseBold;
}

/*#region Header Login*/

.header-login {
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    padding: 5px;
    border-bottom: 1px white solid;
}

.header-login button {
    border: none;
    color: white;
    background: none;
    border-radius: 15px;
}

.header-login button:hover {
    background-color: #0CA4A5;
}

/*#endregion Header Login*/

/*#region Header*/
.header h1 {
    font-family: NorseBold;
    font-size: 55px;
}

.header {
    height: 15vh;
    background-color: #DBB68F;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 0 50px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 50px;
    width: 50px;
}

.header-logo {
    display: flex;
    gap: 15px;
}

/*#endregion Header*/

/*#region Main Content*/

.main-content {
    
    color: white;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("https://images.unsplash.com/photo-1509460364839-ef5b594e0ee8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    min-height: 100%;
    padding: 30px 20px 0 20px;
}

.main-content h2 {
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: xx-large;
}

#wood-btn, #metal-btn {
    outline: none;
    border: none;
    width: 300px;
    font-size: x-large;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    margin: 15px;
    font-family: NorseBold;
    font-size: xx-large;
    background-color: #BB7E5D;
}

#wood-btn:hover, #metal-btn:hover {
    background-color: #0CA4A5;
}

.home-popular, .home-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.home-popular img, .home-showcase img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.home-popular img:hover, .home-showcase img:hover {
    opacity: 0.8;
}

/*#endregion Main Content*/

/*#region Footer*/

.footer {
    padding: 5px;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px white solid;
    display: flex;
    justify-content: space-around;
  }

.footer a {
    color: white;
    text-decoration: none;
}

.footer-contact {
    font-family: 'Courier New', Courier, monospace;
}

/*#endregion Footer*/

/*#region Image Overlay*/

.container {
    position: relative;
    width: 50%;
    max-width: 210px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

/*#endregion Image Overlay*/


/*#region Dialog*/

dialog
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid black;
    width: 25vw;
}

#loginDialog > form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.dialogInput
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dialogInput > label
{
    font-size: larger;
}

.dialogInput > input, .dialogInput > select
{
    font-size: large;
    padding: 3px;
    outline-style: none;
}

.dialogButtons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialogButtons > button
{
    font-size: larger;
    padding: 5px;
}

dialog::backdrop
{
    background-color: rgba(36, 36, 36, 0.25);
}

/*#endregion Dialog*/